

<!--
<button (click)="show_clients()">Show books</button>
<div *ngIf="canWrite==true">Content to render when condition is true.
  <ul>

      {{ book.to_string() }}


  </ul>
</div>
</div> -->

<router-outlet></router-outlet>
<button (click)="show_books()">Show books</button>
<button (click)="show_clients()">Show Clients</button>
<button (click)="add_book()">Add Book</button>
<button (click)="add_client()">Add Client</button>
<button (click)="delete_book()">Delete Book</button>
<button (click)="delete_client()">Delete Client</button>
<button (click)="save_changes()">dawd</button>
<button (click)="update_client()">Update Client</button>
<button (click)="update_book()">Update Book</button>
<button (click)="show_linkEntities()">Show Link Entities</button>
<button (click)="add_linkEntity()">Add Link Entity</button>

